<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="main" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="main" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="main" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="main" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Job Submission</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/ng-notify.min.css">
	<link rel="stylesheet" href="../css/app.css">
	<!-- <link rel="stylesheet" href="./codemirror.css">
	<link rel="stylesheet" href="./atom-one-light.css"> -->
	<style type="text/css">
	
		.noselect {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
	
		.tab-content {
			padding-top: 20px;
		}
		
		.tab-editor {
			width: 100%;
    		height: 550px;
		}

		#editor {
			border: 1px solid #eee;
			height: 600px;
			overflow: scroll;
		}
		#workflow{
			text-align: center;
		}
		#nodeDetails {
			min-height: 120px;
		}
		the-graph > svg {
			/*transform: scale(1.5);*/
			margin:auto;
		}
		
		.links {
			stroke-width:5;
			stroke: #999;
			stroke-opacity: 0.6;
		}
		marker#end {
			fill: #ccc;
		}

		circle.data-node {
			stroke: #474747;
			stroke-width: 2px;
			cursor: pointer;
		}
		circle.task-node {
			stroke: #474747;
			stroke-dasharray: 8,4;
			stroke-width: 3px;
			cursor: pointer;
		}
		
		text.nodeText {
			pointer-events: none;
			font-family: -apple-system, Helvetica Neue, Helvetica, Verdana;
			font-size: 20px;
			fill: white;
			font-weight: 600;
			text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 1px 1px 3px black, 1px -1px 3px black, -1px 1px 3px black, -1px -1px 3px black;
		}
/*		text.nodeText.t0 {
			
		}
		text.nodeText.t3 {

		}
		text.nodeText.t4 {
			
		}
		text.nodeText.t5 {
			
		}*/
		
		#submittingScreen {
			/*display: block !important;*/
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.5);
			z-index: 1000;
			text-align: center;
			padding: 10vw;
		}
		#submittingScreen > .title {
			color: white;
    		font-size: 36px;
    		text-shadow: 0 0 20px black;
		}
		
	</style>
</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-default" role="navigation" ng-controller="ToolbarCtrl">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="../">Job Submission</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" collapse="!expandNavbar">
				<ul class="nav navbar-nav">
					<li>
						<a href="../" target="_blank"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
	
	<!-- Loading animation -->
    <div class="text-center" style="font-size:60px;padding:60px 0;" ng-hide="true">
      <i class="fa fa-spinner fa-pulse"></i>
    </div>
	
	<div class="container" ng-controller="TabsCtrl" ng-cloak>
	
	<div id="submittingScreen" ng-show="submitting">
  		<span class="title noselect">Submitting...</span>
	</div>
	
	<div class="row" ng-hide="!globalError || globalError.length < 1">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-body" style="padding: 10px 15px;">
					{{ globalError }}
				</div>
			</div>
		</div>
	</div>
	
	<uib-tabset active="active">
		<uib-tab index="0" heading="Job Description">
		
		<div class="row" ng-controller="JobDescriptionCtrl">
			
					<div class="col-lg-6">
						<button id="updateJobButton" style="float:right; padding: 4px 10px;" type="button" class="btn btn-primary" ng-click="updateFromEditor()" ng-hide="autorun">Update Job Description</button>
								
						<label style="font-weight: 400; padding-top: 5px; margin-bottom: 10px;"><input id="autoUpdateCheckBox" type="checkbox" ng-model="autorun"> Auto-update Job Description</label>
						
						<div id="editor" ui-ace="aceOptions" ng-model="code"></div>
					</div>
					<div id="workflow" class="col-lg-6">
						<div class="panel panel-default">
							<div id="nodeDetails" class="panel-body" ng-bind-html="nodeDetails"></div>
						</div>
						<the-graph></the-graph>
					</div>
			</div>
		</uib-tab>
		
		<uib-tab index="$index + 1" ng-repeat="tab in tabs track by $index" heading="{{tab.title}}">
			<div class="panel panel-default">
				<div class="panel-body" style="padding: 10px 15px;">
					{{ tab.errText || tab.explText }}
				</div>
			</div>
      		<div class="tab-editor" ui-ace="{mode: tab.mode, theme: 'monokai', onLoad: onAceLoaded, onChange: tab.onChange }" ng-model="tab.code"></div>
    	</uib-tab>
		
		<button
			style="float:right; padding: 4px 10px; margin-left: 8px;"
			type="button"
			class="btn btn-success"
			ng-disabled="disableRunButton()"
			ng-click="submitJob();">
			Submit
		</button>
			
		<!-- <button id="runJobButton" style="float:right; padding: 4px 10px; margin-left: 8px;" type="button" class="btn btn-default" ng-click="clearAll()">Clear All</button> -->
		
		<div class="form-inline form-group-sm" style="float:right; margin-left: 8px;">
  			<input type="text" class="form-control" placeholder="Token" style="width: 45px;padding: 4px;" ng-model="submissionToken" ng-change="updateSubmissionToken(submissionToken)">
  			<input type="text" class="form-control" placeholder="SubID" style="width: 45px;padding: 4px;" ng-model="submissionID">
		</div>
		
		<div class="btn-group" uib-dropdown style="float: right;">
			<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
				Examples <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
				<li role="menuitem" ng-repeat="(name, exp) in examples"><a href="javascript:void(0);" ng-click="loadExample(name);">{{name}}</a></li>
			</ul>
		</div>
		
	</uib-tabset>
	
			</div>
    			
	<script type="text/ng-template" id="submissionModal.html">
        <div class="modal-header">
        	<button class="btn btn-danger btn-sm noselect" type="button" style="float:right;" ng-click="$dismiss()">Close</button>
        	<h3 class="modal-title" id="modal-title">Submission Successful <small ng-show="$parent.oldSubID">{{$parent.oldSubID}}</small></h3>
        </div>
        <div class="modal-body" id="modal-body">
            
            <p ng-show="$parent.jobProgress.errorMessage">Unknown error happend while checking job progress</p>
            
            <div class="progress" ng-hide="$parent.jobProgress.errorMessage" style="height: 40px;">
            	<div class="progress-bar progress-bar-success" role="progressbar" style="width : {{$parent.donePercent}}%; font-size: 20px; line-height: 40px;">
            		<span ng-show="$parent.donePercent > 6">{{$parent.donePercent}}%</span>
            	</div>
            	<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width : {{$parent.inProgressPercent}}%; font-size: 20px; line-height: 40px;">
            		<span ng-show="$parent.inProgressPercent > 6">{{$parent.inProgressPercent}}%</span>
            	</div>
            	<div class="progress-bar" role="progressbar" ng-show="($parent.donePercent + $parent.inProgressPercent)  <= 1" style="width : {{100 - ($parent.inProgressPercent + $parent.jobProgress.done)}}%; background: transparent;color: black; font-size: 20px; line-height: 40px;">
            		(Waiting for jobs to start)
            	</div>
            </div>
            
            <div ng-show="$parent.results" ng-repeat="(name, result) in results track by name ">
            	<h4>{{name}}</h4>
            	<pre style="max-height: 400px;overflow: auto;word-wrap: normal;white-space: pre;">{{result}}</pre>
            </div>
            
        </div>
    </script>

	<script src="../js/angular.min.js"></script>
	<script src="../js/ui-bootstrap-tpls-2.3.0.min.js"></script>
	<script src="../js/ngStorage.min.js"></script>
	<script src="../js/angular-sanitize.min.js"></script>
	<script src="../js/ng-notify.min.js"></script>
	
<!-- 	<script src="./codemirror.js"></script>
	<script src="./closebrackets.js"></script>
	<script src="./javascript.js"></script>
	<script src="./matchbrackets.js"></script> -->
	<script src="./d3.v4.min.js"></script>
	<script src="./ace.js"></script>
	<script src="./ui-ace.js"></script>
	<!-- <script src="./editor.js"></script> -->
	
	<script src="./app.js"></script>
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-9958704-4', 'auto');
	</script>
</body>
</html>
