/* TODO: Better font? */

/* Overrides */
@media (min-width: 768px){
  .navbar {
    border-radius: 0;
  }
}

.input-group, .input-group input {
  background: #eee;
}

.input-group input {
  padding: 4px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
}

.navbar-default .navbar-brand {
  color: #448bc7;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #3292e2;
}

.navbar-default .navbar-nav > li > a {
  color: #448bc7;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #3292e2;
}

/* General */

/*input:focus {
  outline: none;
}*/

.clickable{
  cursor: pointer;
}

.nonclickable {
   pointer-events: none;
   cursor: default;
}

.bold {
  font-weight: bold;
}

/* Themeish */

.btn-dashed {
  border-style: dashed;
}

.margin-auto{
  margin: auto;
}

.m-b-10{
  margin-bottom: 10px;
}

.m-t-10{
  margin-top: 10px;
}

/* Element based */
