<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12" style="background-image: url('./img/balls.gif'); background-repeat: no-repeat;background-attachment: fixed; background-position: center center;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001.742146950292!2d29.072056515535532!3d41.20559487928128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409fe093fb4f1e2f%3A0xb51b89285c845350!2zS2_DpyDDnG5pdmVyc2l0ZXNp!5e0!3m2!1sen!2str!4v1476977536763" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12">
		
		<p style="margin: 0px; color: rgb(34, 34, 34); font-size: 12.800000190734863px;">
			<b>
				<span style="font-size: 14pt; line-height: 200%;">Contact Us:
				</span>
			</b>
		</p>
		<p style="color: rgb(34, 34, 34); font-size: 12.800000190734863px; margin-bottom: 0.0001pt;">
			<span style="font-variant-numeric: normal; font-size: 7pt; line-height: normal; font-family: 'times new roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>
			<span style="font-size: 14pt; line-height: 19.97333335876465px;">Maya Younes
			</span>
		</p>
		<p style="color: rgb(34, 34, 34); font-size: 12.800000190734863px; margin-bottom: 0.0001pt;">
			<span style="font-variant-numeric: normal; font-size: 7pt; line-height: normal; font-family: 'times new roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>
			<span style="font-size: 14pt; line-height: 19.97333335876465px;">Email address:&nbsp;
				<a href="mailto:myounes@ku.edu.tr" target="_blank" style="color: rgb(17, 85, 204);">myounes@ku.edu.tr
				</a>
			</span>
		</p>
		<p style="margin: 0px 0px 0.0001pt; color: rgb(34, 34, 34); font-size: 12.800000190734863px;">
			<span style="font-size: 14pt; line-height: 19.97333335876465px;">&nbsp;
			</span>
		</p>
		<p style="color: rgb(34, 34, 34); font-size: 12.800000190734863px; margin-bottom: 0.0001pt;">
			<span style="font-variant-numeric: normal; font-size: 7pt; line-height: normal; font-family: 'times new roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>
			<span style="font-size: 14pt; line-height: 19.97333335876465px;">Baris Senkal
			</span>
		</p>
		<p style="margin: 0px 0px 0.0001pt; color: rgb(34, 34, 34); font-size: 12.800000190734863px; line-height: normal;">
		</p>
		<p style="color: rgb(34, 34, 34); font-size: 12.800000190734863px; margin-bottom: 0.0001pt;">
			<span style="font-variant-numeric: normal; font-size: 7pt; line-height: normal; font-family: 'times new roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>
			<span style="font-size: 14pt; line-height: 19.97333335876465px;">Email address:&nbsp;
				<a href="mailto:bsenkal13@ku.edu.tr" target="_blank" style="color: rgb(17, 85, 204);">bsenkal13@ku.edu.tr
				</a>
			</span>
		</p> 
	</div>
</div>



