<div class="row" style="line-height: 200%; padding-bottom: 48px;">
	<div class="col-md-12 col-lg-12 col-sm-12">
		<h1 style="padding-bottom: 20px;">Low Cost Cloud Computing on Modern Browsers</h1>
		<h4 style="padding-left: 10px;">Comp491 <i class="fa fa-caret-right" aria-hidden="true"></i> Fall 2016 <i class="fa fa-caret-right" aria-hidden="true"></i> Koç University</h4>
	</div>
</div>
<div class="row" style="line-height: 200%; font-size: 1.2em;">
	<div class="col-lg-9 col-md-12 col-sm-12">
		<p>
			<b>Purpose:
			</b>&nbsp;
		</p>
		<p>The purpose of this site is to show a brief description of the project that we will be working on during our senior year in computer engineering department at Koc University. In addition, the site will feature frequent updates about our progress throughout the semester.
		</p>
		<p><br></p>
		<p>
			<b>Description:
			</b>
		</p>
		<p>We are aiming to do some background computations while users are running/using their devices’ browsers in order to generate extra power that can be used for various purposes. Since the main part of computations is done on website user’s computers, then it uses a minimal number of servers and has a low operational cost. Clients will not be able to notice the impact that our computations have on their devices, and they will be able to communicate among each other (client-to-client) and continue to function after in-website navigation.
		</p>
	</div>
	<div class="col-lg-3 col-md-12  col-sm-12" style="text-align: center;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
					<div>
						<b>Students:
						</b>
					</div>
					<div>Maya Younes
					</div>
					<div>Baris Senkal
					</div>
					<div>&nbsp;
					</div>
					
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
					<div>
						<b>Advisor:
						</b>
					</div>
					<div>Dr. Didem Unat
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
