<div class="row" style="line-height: 200%; font-size: 1.2em;">
	<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" ng-repeat="(key, value) in downloadedPosts track by key">
		<div ng-bind-html="value"></div>
		<!-- TODO: make bar color red -->
		<div ng-hide="value" class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: #e8e8e8;">
				<span class="sr-only">45% Complete</span>
			</div>
		</div>
		
		<hr>
		
	</div>
</div>



