<h2 style="box-sizing: border-box; font-weight: 500; line-height: 1.1; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 30px;">Website is up and running!
</h2>

<h4 style="padding-bottom: 10px;">
	And research progress.
	<span style="float: right;">20 Oct 2016</span>
</h4>

<p>We designed and built project’s website. We will update the website as we finish tasks and improve our project.</p>
<p>We also looked into privacy and security aspect of our project. Our research about JavaScript functions and objects pointed us to 188 items that may compromise our project. Some function and variable names are reserved by JavaScript itself and rest are overwritable. We will prevent access to these functions and variables as we build our primitive server and client.
</p>

