<h2 style="box-sizing: border-box; font-weight: 500; line-height: 1.1; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 30px;">Primitive Client and primitive server are done!
</h2>

<h4 style="padding-bottom: 10px;">
	And selecting programs for testing.
	<span style="float: right;">3 Nov 2016</span>
</h4>

<p>Primitive client is able to download data and task from the server, run it, and send results back. Primitive server is now able to read data and task from a file, and send same data and task to all clients. For testing, we looked at programs in financial computation, Brute force decryption, and other scientific parallel fields.</p>

