<h2 style="box-sizing: border-box; font-weight: 500; line-height: 1.1; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 30px;">The number of our clients is triple now!
</h2>

<h4 style="padding-bottom: 10px;">
	And division of data among clients.
	<span style="float: right;">18 Nov 2016</span>
</h4>

<p>We spanned workers threads, and we edited the API to work inside workers. Also, we did the In-Browser persistence that allows the communication between main and worker threads. It is possible to check this in our demo page. In addition, we handled the division of data among clients to be more like map reduce. We updated the server side API for this new approach by separating JavaScript and JSON, and by organizing data with part and group IDs.</p>

