<h2 style="box-sizing: border-box; font-weight: 500; line-height: 1.1; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 30px;">Server-Side DB integration is done!

</h2>

<h4 style="padding-bottom: 10px;">
	And improvements of job description API.
	<span style="float: right;">09 Dec 2016</span>
</h4>

<p>We had the mid-semester demo with our advisor, and made some improvements and bug fixes for clients and server according to advisor’s notes. User Testing is in progress as well.</p>

