<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="main" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="main" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="main" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="main" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title ng-bind="$root.appTitle + ' | Lcccmb'">Loading...</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/ng-notify.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default" role="navigation" ng-controller="ToolbarCtrl">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="expandNavbar = !expandNavbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">Lcccmb</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" collapse="!expandNavbar">
        <ul class="nav navbar-nav">
          <li>
            <a href="#/home" ng-class="{'bold': path == '/home'}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>
          <li>
            <a href="#/updates" ng-class="{'bold': path == '/updates'}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Updates</a>
          </li>
          <li>
            <a href="/demo" target="_blank" ng-click="openingDemo();"><i class="fa fa-code" aria-hidden="true"></i> Demo</a>
          </li>          <li>
            <a href="/helper" target="_blank" ng-click="openingHelper();"><i class="fa fa-file-code-o" aria-hidden="true"></i> Submission</a>
          </li>
          <li>
            <a href="#/contact" ng-class="{'bold': path == '/contact'}"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
  <div class="container" ng-view>
    <!-- Loading animation -->
    <div class="text-center" style="font-size:60px;padding:60px 0;">
      <i class="fa fa-spinner fa-pulse"></i>
    </div>
  </div>

  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/ui-bootstrap-tpls-2.3.0.min.js"></script>
  <script src="js/ngStorage.min.js"></script>
  <script src="js/ng-notify.min.js"></script>
  <script src="js/app.js"></script>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-9958704-4', 'auto');
  </script>
</body>
</html>
